# Project related
share-media.mjs
share-media.mjs.map
share-media.css

# Node Modules
node_modules/
yarn.lock

# Lock files
package-lock.json

# IDE
.idea/
.vs/

# Finder (MacOS) folder config
.DS_Store
