<div class="standard-form">
    <fieldset class="flexrow">
        <legend>{{localize "share-media.shareables.selector.share.link.label"}}</legend>
        <div class="form-group">
            <p class="hint">{{localize "share-media.shareables.selector.share.link.description"}}</p>
            <div class="shm form-fields">
                <input type="text" name="link" id="link" placeholder="http://link.to/media.jpg">
            </div>
        </div>
    </fieldset>
</div>
