<div class="col left">

</div>

<div class="col middle">
</div>

<div class="col right">
    <button type="button" class="control-icon" data-action="clearMedia" data-tooltip="Delete">
        <i class="{{icons.clear}}" inert></i>
    </button>
    <button type="button" class="control-icon" data-action="sortMedia" data-direction="up" data-tooltip="HUD.ToFront">
        <img src="{{controlIcons.up}}">
    </button>
    <button type="button" class="control-icon" data-action="sortMedia" data-direction="down" data-tooltip="HUD.ToBack">
        <img src="{{controlIcons.down}}">
    </button>
</div>
